html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: sans-serif;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top-width: 0px;
    border-top-style: none;
    border-top-color: currentcolor;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.container {
    margin: auto
}

#explanations {
    padding: 20px;
    padding-top: 20px;
    padding-top: 0px;
    margin-top: 20px;
    background: rgba(250, 250, 250, 1);
    border: 1px solid rgba(230, 230, 230, 1);
}

#explanations>div {
    padding-top: 20px;
}
/* 
#select-container {
    font-size: 1.2em;
} */

button,
select {
    text-transform: none;
     font-size: 1.5em;
}

a {
	background-color: transparent;
}

.credit {
	margin-top: 3em;
	font-size: 0.8rem;
}



#footer {
    font-size: 0.8em;
}

#footer .item {
    border-right: 1px solid rgba(230, 230, 230, 1);
    padding-right: 10px;
    margin-right: 10px;
}

#footer .support {
  margin: 15px 0px 0px;
}


.hidden {
    display: none !important;
}
